<main>
  <header class="pokedex">
    <img src="../assets/images/pokedexLogo.png" alt="pokedex logo" class="pokedex-logo" aria-hidden="true">
  </header>
  <div class="header">
    <nav>
      <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']">Login</a>
      <p *ngIf="authService.isLoggedIn()"> User is logged in</p>
      <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Sign out</a> <br> <!-- Add this line -->
      <a [routerLink]="['/']">Home</a> 
    </nav>
  </div>
  <section class="content">
    <h1>Dit is de {{title}} app</h1>
      <router-outlet></router-outlet>
  </section>
</main>

